* {
    box-sizing: border-box;
}

.App {
    padding: 20px 40px;
}

.timer-demo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.node-detector-demo {
    width: 200px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .1);
    margin-bottom: 20px;
}

.node-detector-demo-hidden {
    width: 0;
    height: 0;
    display: none;
}

.t-hidden {
    width: 0;
    height: 0;
}